@import url(http://fonts.googleapis.com/css?family=Rokkitt);

body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: Trebuchet MS;
    font-size: 14px;
    color: #666666;
    background-color: #ffffff;

}
html, body, #wrapper {
    height:100%;
    margin: 0;
    padding: 0;
    border: none;
    text-align: left;
}
h1 {
    font-size:24px;
    font-weight:bold;
    color: #3E79AA;
    font-family:Trebuchet MS, Arial;
    margin-top: 20px;
    margin-left: 10px;
}
h2 {
    font-size:18px;
    font-weight:bold;
    color: #3E79AA;
    font-family:Trebuchet MS, Arial;
    margin-top: 15px;
    margin-left: 10px;
}

#MainAdminNav {
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    BACKGROUND: #030303;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    WIDTH: 100%;
    PADDING-TOP: 0px;
    /*HEIGHT: 30px;*/
}
#MainAdminNav UL {
    PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#MainAdminNav UL LI {
    PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
#MainAdminNav UL LI:first-child {
    
}
#MainAdminNav UL LI A {
    DISPLAY: block;
    PADDING-RIGHT: 20px;  
    PADDING-LEFT: 20px; 
    PADDING-TOP: 8px; 
    padding-bottom:8px;
    MARGIN: 0px; 
    COLOR: #fff; 
    TEXT-ALIGN: center; 
    TEXT-DECORATION: none;
}
#MainAdminNav UL LI A:hover {
    BACKGROUND-COLOR: #F6F6F6;
    color: #053D80;
}
#MainAdminNav #adminNavItems {
    MARGIN-LEFT: 0px
}


.login_logo{
    position:absolute;
    width:150px;
    height:90px;
    border: dashed;
    right:0px;
    margin-top:20px;
    margin-right:30px;
}




.a_header{
    /*padding:15px;*/
    background-color:#169fe6;
    /*height:50px;*/
    position:relative;
}

.a_message{
    position:absolute; 
    top:14px; 
    left:0px; 
    width:100%;
    background-color:#FF0000;
    display:none;
    height:0px;
}

.message{
    font-size:24px;
    margin: auto;
    padding:5px 8px;
    font-family: 'Rokkitt', arial, serif;
    text-transform: none;
    color:#eee;
    font-weight: normal;
    background: rgb(90,90,90);
    background: rgba(0,0,0,.60);
    border-radius: 5px;
    /*display:none;*/
}



.a_footer{
    /*position:absolute; */
    bottom:0px; 
    width:100%;
    padding:20px 0px;
}


.table_header{
    text-align:center;
    color:#FFFFFF;
}

.table_header td{
    background-color:#666666;
    text-align:center;
}

.table_header td.td_edit{
    background-color:#006699;
}
.table_header td.td_delete{
    background-color:#ff0000;
}

.table_row_unpublished{
    color:#888888;
}

.table_row{
    background-color:#f3f3f3;
    text-align:center;
}

tr.table_row td{
    /*padding:7px;*/
    height:30px;    
}

.edit_table{
    background-color:#eeeeee;
}

.header_box{
    float:left;
    padding:15px;
    /*border:dashed 1px red;*/
    font-size:14px;
    color:#FFFFFF;
}

.header_box a{
    color:#ffffff;
    text-decoration:none;
}

.header_box a:hover{
    text-decoration:underline;  
}

.site_name{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}



.button, input[type="submit"], input[type="button"]{    /* css button */
    /*background-image:url(../images/btn_bg2.png);*/
    background-color:#aaaaaa;
    padding:6px 10px;
    /*height:24px;*/
    border:solid 0px #303030;           /* ie problem - 1px*/
    color:#ffffff;
    font-size:14px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: #000000 1px 1px 1px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 1px rgba(81, 100, 107, 0.40);
    -webkit-box-shadow: 1px 1px 1px rgba(81, 100, 107, 0.40);
    box-shadow: 1px 1px 1px rgba(81, 100, 107, 0.40);
    cursor:pointer; 
}

.button:hover, input[type="submit"]:hover, input[type="button"]:hover{
        background-color:#999;
}

.button:active, input[type="submit"]:active, input[type="button"]:active{
    text-shadow:none;
}

input[type="button"].button_red, input[type="submit"].button_red {
    background-color:#ed0631;   
}

input[type="button"].button_red:hover, input[type="submit"].button_red:hover {
    background-color:#ff0000;
}


input[type="button"].button_blue, input[type="submit"].button_blue {
    background-color:#169fe6;   
}

input[type="button"].button_blue:hover, input[type="submit"].button_blue:hover {
    background-color:#50bdf6;
}


input[type="text"],input[type="password"]{
    font-size:12px;
    padding:3px;
}

textarea{
    font-size:12px;
    padding:5px;    
}

td .input-field {
    width: 99%;
}
.edit_table tr td img {
    cursor: pointer;
}
.change-pointer {
    cursor: pointer;
}

div.category-content {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    background-color: lightblue;
}

div.category-form {
    margin-left: 180px;
    padding-top: 50px;
}

div.display-categories {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

div.display-posts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 700px;
    height: 300px;
}

div.display-pages {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

div.display-albums {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

div.display-sliders {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 500px;
    height: 300px;
}

div.display-images {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 600px;
    height: 300px;
}

div.editor-container {
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    width: 800px;
    height: 600px;
}

div.display-editorposts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 600px;
    height: 300px;
}