	<footer> - footer -</footer>

	<!-- JS at the bottom -->
	<script src="js/vendor/modernizr-3.6.0.min.js"></script>
	<!-- jQuery-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="js/app.js" type="text/javascript"></script>
    
	</body>
</html>