	<!-- content ends -->
	{if (!empty($message))}
	<script type="text/javascript" charset="utf-8" async defer>
	    $(".a_message").show().delay(5000).fadeOut('slow');
	</script>
	{/if}

	</body>
</html>