{include file="admin/a_header.tpl"}
	<table width="100%" border="0" cellspacing="5" cellpadding="5">
	  	<tr>
	    	<td>
	    		<p>&nbsp;</p>
			</td>
	  	</tr>
	</table>
{include file="admin/a_footer.tpl"}