
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sign in &middot; Twitter Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <!-- Le styles -->
    <link href="../css/login.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" name="form1" method="post" action="">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address" name="user">
        <input type="password" class="input-block-level" placeholder="Password" name="pass">
        <br>
        <button class="btn" type="submit">Sign in</button>
        <input name="login" type="hidden" id="login" value="1">
      </form>

    </div> <!-- /container -->

  </body>
</html>
